@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2563eb;
  --color-secondary: #1e40af;
  --color-accent: #3b82f6;
  --color-background: #f3f4f6;
  --color-text: #111827;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-accent {
  color: var(--color-accent);
}

.hover\:bg-primary:hover {
  background-color: var(--color-primary);
}

.hover\:bg-secondary:hover {
  background-color: var(--color-secondary);
}

.hover\:bg-accent:hover {
  background-color: var(--color-accent);
}

.hover\:text-primary:hover {
  color: var(--color-primary);
}

.hover\:text-secondary:hover {
  color: var(--color-secondary);
}

.hover\:text-accent:hover {
  color: var(--color-accent);
}